<!DOCTYPE html>
<html>
  <body>
    <h1></h1>

    <form method="post" action ="/">

         <h1>ROSTER</h1>
         <h3>Enter a name: <input type="text" name="name"/></h3>
         <h3>University: <input type="text" name="university"/></h3>
         <h3>Choose one: </h3>
         <input type="radio" name="color" value="Watermelon">Watermelon
         <br>
         <input type="radio" name="color" value="Orange">Orange
         <br>
         <input type="radio" name="color" value="Blackberries">Blackberries

         <p><button>Add</button>

        {% for student in students %}:
        

    </form>
  </body>
</html>
