<html>
  <body>
    <h1></h1>
    <form method="post" action ="">
        <h1> WELCOME TO THE QUIZ!</h1>
         <h3>Enter a name: <input type="text" name="noun1"/></h3>
         <h3>Enter an color: <input type="text" name="noun2"/></h3>
         <h3>How would you describe your room?: <input type="text" name="adjective"/></h3>
         <h3>Choose one: </h3>
         <input type="radio" name="noun3" value="mashup">mashup
         <br>
         <input type="radio" name="noun3" value="rainbow">rainbow
         <br>
         <input type="radio" name="noun3" value="blackhole">blackhole

         <h3><input type="checkbox" name="box" value="true">
         I'm feeling good.<br>
         <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>
